@using UbiTheJudge.ViewModels;

@model ScoreViewModel

<table>
    <tr>
        <th>
            Quartet
        </th>
    </tr>
    @foreach (var quartet in Model.Quartets)
    {
        <tr>
            <td>@quartet.Name</td>
        </tr>
    }
</table>

<table>
    <tr>
        <th>
            Song
        </th>
    </tr>
    @foreach (var song in Model.Songs)
    {
        <tr>
            <td>@song.Name</td>
        </tr>
    }
</table>